<div class="modal">
        <div class="modal-content">
                <div class="content form-floating">
                        <form [formGroup]="addBrandForm" >
                                <div class="form-floating">
                                        <input class="form-control"
                                                    placeholder="Leave a comment here"
                                                    id="floatingTextarea2"
                                                    formControlName="brandName"
                                                    [class.is-invalid]="addBrandForm.get('brandName').invalid && addBrandForm.get('brandName').touched"
                                                    [class.is-valid]="addBrandForm.get('brandName').valid && addBrandForm.get('brandName').touched"
                                                    minlength="5"
                                                    maxlength="50"
                                                    required
                                                    >
                                        <label for="floatingTextarea2">Brand Name</label>
                                        <small class="text-danger" *ngIf="addBrandForm.get('brandName').invalid && addBrandForm.get('brandName').touched" >İsim geçersiz</small>
                                </div>
                                    <button (click)="onChange(false)" class="card-header rightsuccess" >
                                                <span class="card-category "><i class="material-icons text-center">cancel</i>vazgeç</span>
                                    </button>

                                    <button (click)="save(false)" class="card-header rightprimary" [disabled]="addBrandForm.get('brandName').invalid"  >
                                                <span class="card-category "><i class="material-icons text-center" >save</i>Kayıt</span>
                                    </button>
                        </form>
                </div>
        </div>
</div>