.hakan{
  
    float: center;
    align-items: center;
    justify-content: center;
    background-color:  #e54644;
    box-shadow:8px 8px 20px rgba(0,0,0,0.6);
    border-radius:5px;
    height: 6vh;
    margin-bottom: 1rem;
}
input{
    float: right;
    margin-right: 10px;
}

li{
    border-radius:.5rem;
    box-shadow:4px 4px 4px 4px rgba(0,0,0,0.3);
    float: left;
    margin-left: 10px;
    
}

li:active{
    box-shadow:2px 2px 2px 2px rgba(0,0,0,0.2);
}


