.hakan{
    box-shadow:8px 8px 20px rgba(0,0,0,0.3);
    border-radius:5px;
    height: 10vh;
    background: -webkit-repeating-radial-gradient(bottom left,#6fccd6,#058492); 
    
    margin-bottom: 50px;
    
    align-items: flex-start;
    
    
 }

input{
    float: right;
    margin-right: 10px;
    background: none;
}

li{
    color: rgb(206, 199, 199);
    margin-left: 10px;
    box-shadow:2px 2px 2px 2px rgba(219, 160, 231, 0.2);
    
}

li:hover{
    box-shadow:4px 4px 4px 4px rgba(219,160,231,0.02);
}

a{
    color: rgb(238, 234, 234);
    
}
a:hover{
    color: #f2e6f4;
    background: -webkit-repeating-radial-gradient(top left,#bf80c9    ,#7e0092); 
    box-shadow:4px 4px 4px 4px rgba(100, 98, 98, 0.2);
}
a:active{
box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
}

li:active{
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.2);
}


