<div class="modal">
        <div class="modal-content">
                <div class="content">
                        <h3>{{messages}}</h3>
                        <!-- <input type="text" #ccomponent (keyup)="onChange(ccomponent.value)" /> -->
                        <button style="width: 5rem;" class="rightinfo" (click)="onChange('2')">İptal</button>
                        <button style="width: 5rem;" class="rightsuccess" (click)="onChange('1')">Tamam</button>
                </div>
        </div>
</div>