


<form >
  <div class="container">
    <div class="row">
      <div class="col col-4">
        <label class="form-label" for="rentDate"
          ><h5>Kiralama başlangıcı için tarih giriniz</h5></label
        >
        <input
          [(ngModel)]="ilkTarih"
          type="date"
          class="form-control"
          id="rentDate"
          name="rentDate"
          placeholder="yyyy-MM-dd"
          min="{{ minDate }}"
          max="{{ maxDate }}"
          required
        />
      </div>
      <div class="col col-4">
        <label for="returnDate" class="form-label"
          ><h5>Kiralama bitişi için tarih giriniz</h5></label
        >
        <input
          [(ngModel)]="sonTarih"
          type="date"
          class="form-control"
          id="returnDate"
          name="returnDate"
          ng-model="example.value"
          placeholder="yyyy-MM-dd"
          min="{{ ilkTarih }}"
          max="{{ maxDate }}"
          required
        />
      </div>
    </div>
    <button (click)="hesapla()" type="button" class="btn btn-lg btn-primary">
      Calculate
    </button>
  </div>
</form>
<div *ngIf="tutar > 0 && modal" class="modal">
  <div class="modal-content">
    <span class="modal-close" (click)="modalClose()">&times;</span>
    
    <h1>{{ tutar | currency: "tr " }} </h1>
    <!-- {{name.pristine}} -->
    <!-- {{kart |json}}
    {{ rastgele }} -->

    <form  novalidate>
     
      <div class="row gy-3">
        <div class="col-md-6">
          <label for="carHolderNane" class="form-label">Name on card</label>
          <input
            type="text"
            [(ngModel)]="kart.cardHolderName"
            #name="ngModel"
            class="form-control"
            name="cartHolderName"
            id="cartHolderName"
            value="Mark"
            required>
          <div class="valid feedback">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
          </div>
        </div>

        <div class="col-md-6">
          <label for="creditCard" class="form-label">Credit card number</label>
          <input
            [(ngModel)]="kart.cardNumber"
            #cardNumber="ngModel"
            name="kart.cardNumber"
            type="text"
            [class.is-invalid]="cardNumber.invalid"
            mask="0000 0000 0000 0000"
            class="form-control is-invalid"
            id="creditCard"
            placeholder=""
          />
          <div class="valid feedback">
            <small class="text-danger" [class.d-none]="cardNumber.valid || name.untouched">card number is required</small>
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationDate" class="form-label">Expiration</label>
          <input
            [(ngModel)]="kart.validationDate"       
            #validationDate="ngModel"
            name="kart.validationDate"
            type="date"
            class="form-control is-invalid"
            id="validationDate"
            min="{{ minDate }}"
            required
          />
        </div>

        <div class="col-md-2">
          <label for="cvv" class="form-label">CVV</label>
          <input
            [(ngModel)]="kart.cvv"
            #cvv="ngModel"
            name="kart.cvv"
            type="text"
            mask="000"
            class="form-control is-invalid"
            id="cvv"
            required
          />
        </div>

        <div class="col col-3">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              (click)="payAndFinish()"
              style="font-size: 2rem"
              type="w-100 btn btn-primary btn-lg"
              class="btn btn-primary"
            >
              Pay and Finished
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="kucukmodal==true" class="modal">
  <div class="modal-content" style="width: 25%; height: 50%">
    <Form class="credit-card-form row">
      <div class="container">
        <h4>Lütfen bankanız tarafından size</h4>
        <h4>gönderilen 8 haneli şifreyi giriniz</h4>
        {{ rastgele }}
        <label for="cc-number" class="form-label">Password</label>
        <input
          type="text"
          [(ngModel)]="dogrula"
          class="form-control"
          id="cc-number"
          placeholder="xxxx-xxxx"
          required
        />
      </div>
      <button
        (click)="validate()"
        style="font-size: 2rem"
        type="w-100 btn btn-primary btn-lg"
        class="btn btn-primary"
      >
     OK
      </button>
    </Form>
  </div>
  
</div>
