<div class="modal">
        <div class="modal-content">
            <div class="container">
                    <div class="card">
                            <div class="card-header card-header-danger text-center">
                                    <h4>Otomobil resmi kaydet</h4>
                                </div>
                                <div class="card-body aling-items-center">
                                        <div class="row justify-content-center aling-items-center">
                                                <div class="container">
                                                        <label class="text-danger" for="carList">Araç Listesi</label>
                                                        <select  
                                                                    id="carList" 
                                                                    style="padding: 10px;" 
                                                                    [(ngModel)]="carId"
                                                                    #currentCar="ngModel"
                                                                    name="carId" 
                                                                    class="form-control btn btn-lg btn-info"
                                                                    (change)=choice($event)
                                                                    [class.is-invalid]="currentCar.touched && currentCar.invalid"
                                                                    required>
                                                                    <option value="" >Otomobil Listesi</option>
                                                                    <option *ngFor="let car of carList" value="car.carId"  [value]="car | json">{{car.brandName}} {{car.colorName}} </option>
                                                        </select>
                                                </div>
                                            </div>
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <small class="text-danger" *ngIf="currentCar.touched && currentCar.invalid">seçim yapınız yapmadınız</small>
                                                                <small class="text-danger" *ngIf="currentCar.untouched && currentCar.invalid">işlem yapmak için araç listesinden seçim yapınız</small>
                                                                <button (click)="onChange(false)" class="btn btn-lg btn-warning">Çık</button>
                                                                <button *ngIf="currentCar.valid || currentCar.touched" (click)="savePaths()" class="btn btn-lg btn-info" [disabled]="currentCar.touched && currentCar.invalid">Araç resimleri  kaydet</button>
                                                                
                                                        </div>
                                                </div>
                                     </div>
                    </div>
                </div>
                <div class="content">
                            <div class="card">
                                    <div class=" d-flex justify-content-center">            
                                            <button class="card-header card-header-warning text-center">
                                                    <h4>Otomobil resmi yapıştır</h4>
                                            </button>
                                        </div>       
                               <div autofocus class="card-body" (paste)="onPaste($event)">
                                       <small>buraya tıklayıp ctrl-v ile resmi yapıştırabilirsiniz</small>
                                        <img  #imgRenderer />
                                </div>
                         </div>
                 </div>
        </div>
</div>