<div class="container">
        <div class="row">
                <div class="col col-12">
                  <div *ngIf="dataLoaded == false">
                    <app-waiting></app-waiting>
                  </div>
                  <div class="row">
                    <div class="col col-md-5">
                      <label for="filterText" class="form-label text-white">car search</label>
                      <div *ngIf="filterText">
                        <span class="badge badge-pill badge-success">
                          {{ filterText }}</span>
                      </div>
                      <input type="text " [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="brand of car"
                        required />
                    </div>

                    <div class="col col-md-3">
                      <label for="filterText" class="form-label text-white">car search</label>
                      <div *ngIf="filterText">
                        <small> aranan: {{ filterText }} </small>
                      </div>

                      <select [(ngModel)]="filterText" class="form-select">
                        <option [value]="''">full list</option>
                        <option *ngFor="let brand of brands" [value]="brand.brandName">
                          {{ brand.brandName }}
                        </option>
                      </select>
                    </div>

                    <div class="col col-md-3">
                      <label for="colorFilter" class="form-label text-white">color search</label>
                      <div *ngIf="colorFilter">
                        <small> aranan: {{ colorFilter }} </small>
                      </div>

                      <select [(ngModel)]="colorFilter" class="form-select">
                        <option [value]="''">full list</option>
                        <option *ngFor="let color of colors" [value]="color.colorName">
                          {{ color.colorName }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <br />
                  <div class="container">
                        <div class="row">
                                <div class="col-md-4" *ngFor="let car of carbyInfos | filterCar: filterText  | filterColor: colorFilter ">
                                        <div (click)="reDirection(car)" class="card">
                                                <div class="card-header">
                                                        <h4 class="card-title">{{ car.brandName }}</h4>
                                                        <img src="./assets/{{ car.brandName }}01.png" alt="..." />
                                                        
                                                </div>
                                                <div class="card-body">
                                                        <ul>
                                                          <li>{{ car.brandName }}</li>
                                                          <li>{{ car.colorName }}</li>
                                                          <li>{{ car.modelYear }}</li>
                                                          <li>{{ car.dailyPrice | currency: "₺" }}</li>
                                                        </ul>
                                                </div>
                                              </div>
                                            </div>
                                    </div>
                            </div>
                </div>
        </div>
</div>