img {
  width: 100%;
  height: 90%;
}
li {
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  list-style-type: none;
  cursor: pointer;
  text-align: center;
  position: center;
  left: 0;
  background-color: #EEE;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: .75em;
}
.badge {
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  color: white;
  background-color: #607D8B;
  position: relative;
  border-radius: 8px 0 0 8px;
}

li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  
}
li.selected {
    background-color: #8b7760;
    color: rgb(245, 240, 240);
  }


  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
  }
  
  .card>hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link+.card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-header+.list-group .list-group-item:first-child {
    border-top: 0;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-deck {
    display: flex;
    flex-direction: column;
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  
    .card-deck .card {
      display: flex;
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  
  .card-group {
    display: flex;
    flex-direction: column;
  }
  
  .card-group>.card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-group {
      flex-flow: row wrap;
    }
  
    .card-group>.card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
  
    .card-group>.card+.card {
      margin-left: 0;
      border-left: 0;
    }
  
    .card-group>.card:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .card-group>.card:first-child .card-img-top,
    .card-group>.card:first-child .card-header {
      border-top-right-radius: 0;
    }
  
    .card-group>.card:first-child .card-img-bottom,
    .card-group>.card:first-child .card-footer {
      border-bottom-right-radius: 0;
    }
  
    .card-group>.card:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .card-group>.card:last-child .card-img-top,
    .card-group>.card:last-child .card-header {
      border-top-left-radius: 0;
    }
  
    .card-group>.card:last-child .card-img-bottom,
    .card-group>.card:last-child .card-footer {
      border-bottom-left-radius: 0;
    }
  
    .card-group>.card:only-child {
      border-radius: 0.25rem;
    }
  
    .card-group>.card:only-child .card-img-top,
    .card-group>.card:only-child .card-header {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  
    .card-group>.card:only-child .card-img-bottom,
    .card-group>.card:only-child .card-footer {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
      border-radius: 0;
    }
  
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
      border-radius: 0;
    }
  }
  
  .card-columns .card {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 370px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  @media (min-width: 376px) {
    .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
    }
  
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
  }

  .hover-overlay-container {
    position: relative;
    width: 290px;
    height: 140px;
    }
    .hover-overlay-container:hover .overlay-image {
    opacity: 0.6;
    transform: scale(1.10);
    }
    .hover-overlay-container:hover .overlay-btn-container {
    opacity: 1;
    }
    .hover-overlay-container .overlay-image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: all .5s ease;
    backface-visibility: hidden;
    }
    .hover-overlay-container .overlay-btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    transform: translate(-50%, -50%);
    }
    .hover-overlay-container .overlay-btn-container .overlay-btn {
    color: rgb(253, 249, 249);
    font-size: 16px;
    padding: 10px 16px;
    background-color: rgb(139, 29, 21);
    text-decoration: none;
    }
