
<div *ngIf="dataLoaded == false">
    <app-waiting></app-waiting>
  </div>

<div class="col col-3">
    <label for="filterText" class="form-label">customer search</label>
    <div *ngIf="filterText">
      <small> aranan: {{ filterText }} </small>
    </div>
  
    <input
      type="text "
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="customers"
    />
  </div>
  
<table class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">address</th>
          <th scope="col">phoneNumber</th>
          <th scope="col">city</th>
          <th scope="col">state</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customersDto">
          <th scope="row">{{c.customerId}}</th>
          <td>{{c.firstName}} {{c.lastName}}</td>
          <td>{{c.email}}</td>
          <td>{{c.address1}}</td>
          <td>{{c.phoneNumber}}</td>
          <td>{{c.city}}</td>
          <td>{{c.state}}</td>
      </tbody>
  </table>
